name: Deploy Multi-container Application
on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build container for tests
        run: docker build -t bpscott/react-test -f Dockerfile.dev .
      - name: Run tests
        run: docker run -e CI=true bpscott/react-test npm test

      - name: Build client container
        run: docker build -t bpscott/multi-client ./client
      - name: Build nginx container
        run: docker build -t bpscott/multi-nginx ./nginx
      - name: Build server container
        run: docker build -t bpscott/multi-server ./server
      - name: Build worker container
        run: docker build -t bpscott/multi-worker ./worker
 
      # - name: Generate deployment package
      #   run: zip -r deploy.zip . -x '*.git*'
 
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: docker-gh
          environment_name: Dockergh-env
          existing_bucket_name: elasticbeanstalk-us-east-1-923445559289
          region: us-east-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
